<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @paper, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :author, 'Author' %>
        <%= f.text_field :author, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :bibliography, 'Bibliography' %>
        <%= f.text_field :bibliography, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :link, 'Link' %>
        <%= f.text_field :link, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :comment, 'Comment' %>
        <%= f.text_area :comment, class: 'form-control', rows: 10 %>
      </div>
      
      <div class="form-group">
        <%= f.label :image, 'Image' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      
      <%= f.submit "#{btn_name}", class: 'btn btn-primary btn-block' %>
    
    <% end %>
  </div>
</div>