<ul class="list-unstyled">
  <% papers.each do |paper| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <strong><%= paper.title %></strong><br>
          <p>
            <%= paper.comment.truncate(100) %><br>
            comments: <%= paper.reviews.count %>
          </p>
          <%= link_to "detail", paper, class: 'btn btn-info btn-sm' %>
          <% if current_user == paper.user %>
            <%= link_to "Delete", paper, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <%= link_to "Edit", edit_paper_path(paper), class: 'btn btn-warning btn-sm' %>
            <%= render 'favorites/favorite_button', paper: paper %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate papers %>
</ul>