<div class="text-center">
  <h2>Paper search</h2>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <!--method: getにしないとcreateにとんでしまう-->
     <%= form_with(url: papers_path, local: true, method: :get) do |f| %>
      <!--value: @keywordをいれておくことで、検索後に検索窓にkeywordを残すことができる-->
      <%= f.text_field :keyword, class: "col-sm-10", value: @keyword %>
      <%= f.submit 'Search', class: "btn btn-primary btn-xs" %>
      <br> Sort by:
      <%= f.select :sort, [["Most Recent","Most Recent"], ["Most Popular","Most Popular"], ["Most Discussed","Most Discussed"]], 
      :include_blank => true, :selected => @sort, id:'dinamic_sort' %>
    <% end %>
  </div>
</div>

<div class="text-left">
  <br>
  <h3>Search results</h3>
</div>
<%= render 'papers_userInfo', papers: @papers %>
<%= link_to 'Finish Searching', root_path %>